@font-face {
  font-family: "iconfont"; /* Project id 2720060 */
  src: url('//at.alicdn.com/t/font_2720060_cfb1ihkpd3.woff2?t=1628128110980') format('woff2'),
       url('//at.alicdn.com/t/font_2720060_cfb1ihkpd3.woff?t=1628128110980') format('woff'),
       url('//at.alicdn.com/t/font_2720060_cfb1ihkpd3.ttf?t=1628128110980') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-transfers:before {
  content: "\e67f";
}

.icon-link:before {
  content: "\e617";
}

.icon-Group-:before {
  content: "\e68b";
}

.icon-wenhao:before {
  content: "\e64e";
}
