.main>.rewards {
  &-page {
    .main-block {
      padding: 50px;

      .ant-row {
        align-items: flex-end;

      }

      .key-wrapper {
        margin: 8px 0 54px 0;
      }

      .ant-statistic-content {
        color: @main-white;
      }

      .main-color {

        .ant-statistic-content {
          font-size: 48px;
          font-weight: 700;
          color: @primary-color;
        }
      }
    }
  }
}
