.not-a-broker {
  width: 468px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  color: #222;
  .main-panel {
    background: #f7f7f7;
    border-radius: 48px;
    height: 488px;
    width: 100%;
  }
  .apply {
    height: 24px;
    line-height: 24px;
    margin-top: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #e7446b;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
  }
  .desc {
    padding: 0 48px;
    font-size: 12px;
    line-height: 16px;
    color: #222;
    height: 136px;
    overflow: hidden;
    margin-top: -24px;
  }
  .data {
    width: 444px;
    height: 170px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 36px;
    margin-top: 12px;
    position: relative;
    text-align: center;
    .data1,
    .data2 {
      position: absolute;
      width: 221px;
      height: 100%;
      top: 0;
      padding-top: 36px;
    }
    .data1 {
      left: 0;
    }
    .data2 {
      right: 0;
    }
    .line1 {
      font-weight: 600;
      font-size: 16px;
      height: 20px;
      line-height: 20px;
      margin-bottom: 16px;
    }
    .num {
      font-weight: 800;
      font-size: 32px;
      height: 26px;
      line-height: 26px;
    }
    .unit {
      font-weight: 300;
      font-size: 14px;
      height: 20px;
      line-height: 20px;
      margin-top: 16px;
    }
    .vr {
      width: 2px;
      height: 98px;
      background: #f7f7f7;
      position: absolute;
      top: 36px;
      left: 221px;
    }
  }
}
