.modal-w {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(247, 247, 247, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    height: 740px;
    width: 472px;
    border-radius: 48px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #222;
  }
}
