
@import '~antd/dist/antd.less';
@import './assets/styles/reset.less';

//common class
.main-block{background-color: @main-block;padding: 16px 24px; border-radius:16px;}

//color text
.main-color{
  color: @primary-color;
}
.main-red{
  color:@main-red
}
.main-green{
  color:@main-green
}
.main-white{
  color: @main-white;
}




//other
.derify-pointer{cursor: pointer;}








